<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author	    Vladan Kuzmanovic (vladankuzmanovic@gmail.com)
*/
-->
<config>
    <sections>
        <catalog translate="label" module="catalog">
            <groups>
            	<notifications translate="label">
                    <label>Monitor</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1010</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Notifications:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <prod_attr translate="label comment">
                            <label>For Product Attributes</label>
                            <comment>Monitor changes of selected attributes only.</comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>kdcatalogupdates/system_config_source_productattr</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </prod_attr>
                        <email translate="label comment">
                            <label>Email Address</label>
                            <comment>Enter the email to receive notifications.</comment>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_email_address</backend_model>
                            <validate>validate-email</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email>
                        <time translate="label">
                            <label>Start Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </time>
                        <frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <backend_model>kdcatalogupdates/system_config_source_cron</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frequency>
                    </fields>
                </notifications>
            </groups>
        </catalog>
    </sections>
</config>